/* General Reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100%;
}

/* Style the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}



#fixed-header {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

#s-header {
    margin: 50px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Style for the main section */
main {
    padding: 20px;
}


section {
    margin-bottom: 20px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: black;
    color: aqua;
}

.about-text {
    flex: 1;
    padding-right: 20px; /* Adds some space between text and image */
}

.about-image img {
    max-width: 100%;
    height: 300px;
    width: 300px; /* Adjust width based on your design */
    border-radius: 50%; 
}

#skills {
    background-color: rgb(10, 10, 10);
    color: #f4f4f4;
    padding: 30px;
}
#Contacts {
    background-color: black;
    color: blueviolet;
    padding: 30px;
}


/* Basic footer style */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

p {
    font-size: 1.1rem;
}
